body {color: #220a00;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
#intro {background-color:aliceblue; padding: 1em;}
.legend {margin-left:10em; padding:5px }
.multiRG {background-color:/*RosyBrown*/ DarkSeaGreen;}
.del {text-decoration: line-through; }
.wit {width:5em;}
.ready {background-color:Gainsboro}
.unready {background-color:LIGHTGOLDENRODYELLOW;}
.unready > .multiRG {background-color:LightSalmon;}
.unready > .multiRG > table {background-color:LightSalmon;}
p, ol > li {margin-left:5em; margin-right:5em;}
section {margin-left:10em; margin-right:10em;padding:1em;}
h1{
    letter-spacing: 5px;
    display: block;
    text-align: center;
    font-size: 45px;
    line-height: 1em;
}

h2{
    display: block;
    font-size: 1.3em;
    text-align: center;

}


h3{
    text-align: left;
    font-size: 1.2em;
    margin-right: 25px;
}
#intro > h3 {margin-left:5em; margin-right:5em;padding:.3em;}
h4 {
    font-size: 1.1em;
    text-align: left;
    
}
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
th, td {padding:5px;}